#input-list {
    margin-bottom: 30px;
}
.page-head {
    margin-top: 10px;
    margin-bottom: 10px;
}
.list-head {
    margin-bottom: 20px;
}
.status-text {
    margin: : 50px;
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
}
#submit {
    width: 90px;
}
.flex-item {
    word-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 10px;
}
.author-profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    background-color: green;
    border-radius: 3px;
    padding: 10px;
}
.author-profile-data {
    margin-right: 5px;
    flex-grow: 0;
    flex-shrink: 0;
}
.status-list-text {
    background-color: white;
    z-index: 15;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    height: 70px;
    text-align: justify;
}
.status-list-date-added {
    background-color: white;
    padding: 6px;
    padding-left: 10px;
    color: gray;
}