{% extends "dashboard.html" %}

{% block table %}
<style>
    .subject{
        padding-right:50px;
    }
</style>
<table align="left" style="text-align: left">
    <tr>
        <td class="subject">Nama</td>  <td class="value">{{ mahasiswa.nama }}</td>
    </tr>
    <tr>
        <td class="subject">NPM</td>  <td class="value">{{ mahasiswa.kode_identitas }}</td>
    </tr>
    <tr>
        <td class="subject">Keahlian</td>  <td class="value">{{ mahasiswa.keahlian }}</td>
    </tr>
    <tr>
        <td class="subject">Email</td>  <td class="value">{{ mahasiswa.email }}</td>
    </tr>
    <tr>
        <td class="subject">Profile LinkedIn</td>  <td class="value">{{ mahasiswa.linkedin }}</td>
    </tr>
</table>
{% endblock %}