<form id="form" method="POST" action="{% url 'profile:keahlians' %}">
    {% csrf_token %}
    {{ form }}
    <input id="submit" type="submit" class="btn btn-success" value="Tambah Keahlian">
    <br>
</form>
<a href="{% url 'profile:to_edit' %}" class="btn btn-primary"> back </a>