{% extends "layout/base.html" %}

{% block content %}
<style>
    label {
        padding-right: 30px;
    }
</style>
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'profile:edits' %}">
            {% csrf_token %}
            {{ form }}
            <input id="submit" type="submit" class="btn btn-success" value="Post">
            <br>
        </form>
        <a href="{% url 'profile:to_keahlian' %}" class="btn btn-primary"> Tamabah Keahlian </a>
    </div>
</section>


{% endblock %}