{% extends "dashboard.html" %}

{% block table %}
{% if can_submit %}
<style type="text/css">
    #input-list {
    margin-bottom: 30px;
}
.page-head {
    margin-top: 10px;
    margin-bottom: 10px;
}
.list-head {
    margin-bottom: 20px;
}
.status-text {
    margin: : 50px;
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
}
#submit {
    width: 90px;
}
.flex-item {
    word-wrap: break-word;
    margin-top: 10px;
    margin-bottom: 10px;
}
.author-profile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    background-color: green;
    border-radius: 3px;
    padding: 10px;
}
.author-profile-data {
    margin-right: 5px;
    flex-grow: 0;
    flex-shrink: 0;
}
.status-list {
    border-width: thick;
}
.status-list-text {
    background-color: rgb(225, 225, 225);
    z-index: 15;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    height: 70px;
    font-size: 20px;
    text-align: justify;
}
.status-list-date-added {
    background-color: rgb(60, 130, 200);
    padding: 6px;
    padding-left: 10px;
    font-weight: bold;
    color: white;
}
</style>
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'status:add_status' %}">
            {% csrf_token %}
            {{ status_form }}
            <input id="submit" type="submit" class="btn btn-success" value="Post">
            <br>
        </form>
    </div>
</section>
{% endif %}
<section name="my-status" id="my-status">
    <div class="container">
        <div class="flex">
            {% if status %}
                {% for data in status reversed %}
                    <div class="flex-item">
                        <div class="status-list">
                        <div class="status-list-date-added">
                                {{data.created_date}}
                            </div>
                            <div class="status-list-text">
                                {{data.text}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
