{% extends "layout/base.html" %}

{% block content %}
<div class="row">

	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h1>Selamat Datang, {{ nama }}!
			<a href="{% url 'auth_logout' %}" class="btn btn-danger pull-right">Logout</a>
		</h1>
	  </div>
	  <div class="panel-body">
			<img class="img-circle" src	="https://image.freepik.com/free-icon/male-user-profile-picture_318-37825.jpg" width="8%"  alt="foto">
			<br>

			<h4>Jumlah Status : {{count_status}}</h4>
			<h4>Status Terakhir:
				{% if last_status %}
					{{last_status.text}}
				{% else %}
					Tidak ada
			    {% endif %}
            </h4>
		</div>
		<div class="panel-footer">
			<button class="btn btn-primary"> Lihat Forum</button>
			<a href="{% url 'profile:to_edit' %}" class="btn btn-primary"> Edit Profile </a>


	</div>

	</div>
</div>
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" id="tab-feature" role="tablist">
        <li role="presentation" {% if app_id == 1 %} class="active" {% endif %}>
            <a href="{% url 'status:dashboard' kode_identitas_visit %}"> Status </a>
        </li>
        <li role="presentation" {% if app_id == 2 %} class="active" {% endif %}>
            <a href="{% url 'profile:index' kode_identitas_visit %}"> Profile </a>
        </li>
        <li role="presentation" {% if app_id == 3 %} class="active" {% endif %}>
            <a href="{% url 'riwayat:index' kode_identitas_visit %}"> Riwayat </a>
        </li>
        <li role="presentation" {% if app_id == 4 %} class="active" {% endif %}>
            <a href="{% url 'search:index' kode_identitas_visit %}"> Search </a>
        </li>
    </ul>
</div>
<script>

</script>
{% block table %}

{% endblock %}
{% endblock %}
