{% extends "layout/base.html" %}
{% block content %}
<div class="row">
	<img class="img-circle" src="http://2.bp.blogspot.com/_3wYzXkja15c/S8SoDvip-VI/AAAAAAAAACI/YM0dL1rkqcI/S1600-R/Kesimpulan+Lapen+Laporan+Penelitian+Nasionalisasi+Perusahaan+Swasta+Oleh+Pemerintah+di+Amerika+Serikat.jpg" width="8%"  alt="foto"/>
	<h3> Perusahaan dummy </h3>
	<br>
	<img class="img-circle" src="https://www.hipwee.com/wp-content/uploads/2014/11/bill-gates-jpg-850x571.jpg" width="8%" height="100px"  alt="foto" style="margin-left: 15%; margin-right: 2%; display: inline-block">
	<h3 style="display: inline-block"> Orang dummy 1</h3>
	<br>
	<br>
	<img class="img-circle" src="https://4.bp.blogspot.com/-0jyKPMwE8Sw/Vt58pCElM-I/AAAAAAAAH0Q/uDHpgJx3vp8/s1600/cara-berpikir-orang-kaya-yang-berbeda-dengan-anda.jpg" width="8%"  alt="foto" style="margin-left: 15%; margin-right: 2%; display: inline-block">
	<h3 style="display: inline-block"> Orang dummy 2</h3>
	<br>
	<br>
	<img class="img-circle" src="https://cdn.brilio.net/news/2016/12/05/109243/750xauto-nama-panjang-orang-ini-bikin-kamu-keseleo-lidah-tirukan-kalau-bisa-161205g.jpg" width="8%" height="100px" alt="foto" style="margin-left: 15%; margin-right: 2%; display: inline-block">
	<h3 style="display: inline-block"> Orang dummy 3</h3>
	<br>
	<a href="{% url 'status:dashboard' kode_identitas %}" class="btn btn-primary" style="margin-left: 25%">Login Mahasiswa</a>
</div>

{% endblock %}