{% extends "dashboard.html" %}

{% block table %}
<table id="example" class="display" cellspacing="0" width="100%">
  <caption><h3>Search User</h3>
    <div ><input type="text" id="search-input" placeholder="Search">

    <select id="search-option">
      <option value='0'>NPM</option>
      <option value='1'>Nama</option>
      <option value='2'>Angkatan</option>
      <option value='3'>Keahlian</option>
    </select></div></caption>
        <thead>
            <tr>
                <th>NPM</th>
                <th>Nama</th>
                <th>Angkatan</th>
                <th>Keahlian</th>
                <th>Links</th>
            </tr>
        </thead>
        <tbody>

                  {% for mahasiswa in mahasiswas %}
                  <tr>
                  <th>{{mahasiswa.kode_identitas}}</th>
                  <th>{{mahasiswa.nama}}</th>
                  <th>20{{mahasiswa.kode_identitas|slice:"0:2"}}</th>
                  <th>
                    {% if mahasiswa.keahlian.all %}
                    {% for keahlian in mahasiswa.keahlian.all %}
                    <a class="btn btn-default">{{keahlian.bahasa}}: level {{keahlian.level}}</a>
                    {% endfor %}
                    {% else %}Kosong
                    {% endif %}</th>
                  <th><a class="btn btn-warning" href="/profile/{{mahasiswa.kode_identitas}}">Profile</a> <a class="btn btn-primary" href="/status/{{mahasiswa.kode_identitas}}">Status</a>
                  </tr>
                  {% endfor %}

        </tbody>
    </table>


{% endblock %}


{% block javascript %}
<script>
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
    var table = $('#example').DataTable({dom: 'tpl'});

    $('#search-input').on('keyup', function(){
      var select = $( "#search-option" ).val();
      var number = parseInt(select);
      console.log(number);
    table
    .column(number)
    .search(this.value)
    .draw();

  });
    } );
</script>
{% endblock %}
