{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="TUGAS 2">
    <meta name="author" content="{{author}}">

    <!-- Bootstrap CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- JQuery dataTables CSS -->
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- Own CSS -->
    <link href="static/css/tugas_2.css" type="text/css" rel="stylesheet">
    <style>
        
    </style>
    <title>
        {% block title %} Tugas 2 PPW Kelompok Tujuh {% endblock %}
    </title>
</head>
<body>
    <header>
        {% include 'partials/header.html' %}
    </header>
    <content>
        <div class="container">
            {% block content %}
            <!-- Your Content Here -->
            
            {% endblock %}
        </div>
    </content>
    <footer>
        {% block footer %}
        {% include 'partials/footer.html' %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- JQuery dataTables Script -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="application/javascript" src="static/js/tugas_2.js"></script>
    {% block javascript %}
    {% endblock %}
</body>
</html>
